# Appointment Manager
*.apf

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
build.log
.mvn/
mvnw
mvnw.cmd

# Package Files
*.jar
*.war
*.ear