/* NOTE: WARNINGS ARE NOT SYNTAX ERROR */

Button {
    -fx-cursor: default !important;
}

Button:hover {
    -fx-background-color: #555555 !important;
}

Button:pressed {
    -fx-background-color: #151515 !important;
}

#minimizeButton,
#maximizeButton, 
#closeButton {
    -fx-cursor: default;
}

#minimizeButton:hover,
#maximizeButton:hover {
    -fx-background-color: #555555 !important;
}

#closeButton:hover {
    -fx-background-color: #ff4444 !important;
}

#minimizeButton:pressed,
#maximizeButton:pressed,
#closeButton:pressed {
    -fx-background-color: transparent !important;
}
