/* NOTE: ERRORS ARE NOT SYNTAX ERROR */

.menu-bar {
    -fx-background-color: #151515;
}

.menu-bar .menu .label {
    -fx-text-fill: white;
}

.menu-bar .menu:hover .label {
    -fx-text-fill: white;
}

.menu-bar .menu:focused .label {
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: #2d2d2d;
    -fx-border-color: #555555;
    -fx-border-width: 1px;
}

.menu-item {
    -fx-background-color: #2d2d2d;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
    -fx-background-color: #404040;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}
